<p0>John P. Surma<p1>Graham Spanier<p2>Tom Bradley<p3>Penn State<p4>Joe Paterno's<p5>Rod Erickson<p1>Spanier<p4>Paterno<p4>Paterno<p6>Jerry Sandusky<p4>Paterno<p4>Paterno<p6>Sandusky<p3>Penn State<p7>The U. S. Department of Education<p3>Penn State
<p0>Miles Anthony Romney<p1>Colonia Juarez<p2>Mormon<p2>Mormons<p0>Romney<p0>Romney<p0>Miles A. Romney's<p2>Mormons<p3>Chihuahua<p2>Mormons<p0>Mitt Romney<p0>Mitt Romney's<p4>George<p5>Colonia Dublan<p0>Miles Anthony Romney<p0>Mitt Romney's<p0>Miles Romney<p0>Mitt Romney's<p0>Romney<p0>Romney<p0>Mitt Romney's
<p0>Tela Mange<p1>DPS<p2>Steven C. McCraw<p3>The State Department<p4>the U. S. Embassy<p5>urge U. S.<p6>Durango<p7>Coahuila<p4>U. S.<p8>Felipe Calderon<p9>Ciudad Juarez<p10>Chihuahua<p9>Ciudad Juarez<p4>Two U. S.<p10>Chihuahua<p11>the State Department<p9>Ciudad Juarez<p4>U. S.<p9>Ciudad Juarez<p11>the State Department
<p0>Scott Walker<p1>GOP<p2>CNN<p0>Walker<p3>Rick Wiley<p4>Republican National Committee<p0>Walker<p5>White House<p6>Jeb Bush<p7>Mike Huckabee<p8>Rick Santorum<p3>Wiley<p0>Walker<p9>RNC<p0>Walker<p2>CNN<p0>Walker<p10>the Wisconsin Republican Party<p3>Wiley<p0>Walker<p9>RNC<p11>Rudy Giuliani<p12>George W. Bush's<p3>Wiley<p13>Chris Christie<p3>Wiley<p14>Mercury<p13>Christie<p15>Michael DuHaime<p0>Walker<p0>Walker
<p0>The United Nations Environment Program<p1>Louis Verchot<p0>United Nations<p2>Through REDD<p3>Agus Purnomo<p4>National Council on Climate Change<p5>Untung Abdullah