<p0>Bruce Wayne<p1>James Gordon<p2>Barbara<p1>Gordon<p3>Detective Arnold<p0>Bruce<p4>Holly Robinson<p5>Selina Kyle<p0>Bruce<p6>Wayne Manor<p1>Gordon<p7>Gillian Loeb<p8>Flass<p1>Gordon<p1>Gordon<p1>Gordon<p9>Batman<p9>Batman<p8>Flass<p9>Batman<p10>Gotham<p11>Carmine<p1>Gordon
<p0>Bjarnarhaven<p1>Hrungnir<p2>Kings<p3>Jarl<p4>Winds<p5>Surtur
<p0>Ash Williams<p1>Linda<p0>Ash<p2>Raymond Knowby<p1>Linda<p0>Ash<p0>Ash<p0>Ash<p0>Ash<p1>Linda<p0>Ash<p0>Ash<p1>Linda<p0>Ash<p1>Linda<p0>Ash<p0>Ash<p0>Ash
<p0>Harriet<p1>Sheridan Le Fanu<p0>Harriet<p2>don<p0>Harriet<p3>Wimsey<p3>Wimsey
<p0>Himmler<p1>Hitler<p0>Though Himmler<p2>Friedrich Fromm<p3>Replacement) Army<p4>Stauffenberg<p1>Hitler<p0>Himmler<p5>the Reserve Army<p0>Himmler<p6>Waffen-SS<p7>Hans Jüttner<p8>the SS Leadership Main Office<p5>Reserve Army<p6>SS<p0>Himmler<p6>Waffen-SS<p6>SS<p1>Hitler<p0>Himmler<p9>the Interior and Plenipotentiary General for Administration<p6>Waffen-SS<p5>the Reserve Army<p0>Himmler